:root {
  --text-color: rgb(43, 44, 43);
  --primary-color: white;
  --secondary-color: rgba(115, 114, 114, 0.9);
  --accent-color: #c55353;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: #ccc;
  font-family: "Inter", sans-serif;
}
.calculator {
  text-align: center;
  width: 25%;
  background: var(--primary-color);
  padding: 20px;
  box-shadow: 0 4px 12px rgb(94, 87, 87);
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
#display {
  width: 100%;
  height: 30px;
  font-size: 1.8rem;
  text-align: right;
  padding: 5px 2px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  color: var(--text-color);
  background: rgb(223, 223, 223);
}
#clear {
  grid-column: span 4;
  text-align: center;
  padding: 5px 1.5%;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  background: var(--accent-color);
  color: var(--primary-color);
}
.btn {
  padding: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: rgb(223, 223, 223);
  color: var(--text-color);
}
.btn:hover {
  background: hsla(210, 2%, 42%, 0.3);
}
.btn.equal {
  background: var(--text-color);
  color: var(--primary-color);
}
